
form {
  width: 100%;
  position: relative;
}



// ::placeholder {
//   color: #fff;
//   opacity: 1; /* Firefox */
// }



/* stylelint-disable */
/* Disabled because it is valid and I need this level of control*/
.mdev-error {
  border: 1px solid red!important;
  color: red!important;
}
input {
  &[type="text"],
  &[type="email"],
  &[type="password"],
  &[type="search"],
  &[type="url"],
  &[type="tel"],
   {
    width: 100%;
    padding: 10px 10px 10px 0;
    margin-bottom: 20px;
    border: none;
    border-bottom: 3px solid $white;
    background-color: transparent;
    outline: 0;
    transition: border, .3s;
    color: $white;
    font-family: $main-font;
    font-size: 17px;
    @media #{$tablet-up} {
    font-size: 20px;
    }
    line-height: 2;
    &:hover,&:active {
      background-color: transparent;
      color: $white;
    }
    &:focus {
      border-bottom: 3px solid rgba(255, 255, 255, .5);
    }
    &:focus + label {
      font-size: 15px;
      transform: translateY(-60%);
    }
  }

  &[type="button"],
  &[type="submit"] {
  @extend .rhd-base-btn;
  }
}

textarea {
  width: 100%;
  padding: 10px 0;
  border: 0;
  border-bottom: 3px solid $white;
  background-color: transparent;
  outline: 0;
   margin-top: 10px;
  transition: border, .3s;
  color: $white;
  font-size: 17px;
  margin-bottom: 20px;
  @media #{$tablet-up} {
    font-size: 20px;
  }
  max-height: 100px;
  font-family: $main-font;
  font-weight: normal;
  overflow: hidden;
  &:hover ,&:active {
    background-color: transparent;
    color: $white;
  }
  &:focus {
    border-bottom: 3px solid rgba(255, 255, 255, .5); 
    //max-height: 150px;
  }
  &:focus + label {
      font-size: 15px;
      transform: translateY(-55%);
  }
}

//not sure if needed
textarea::placeholder {
  line-height: 1.3;
  // @media #{$tablet-up} {
  //   line-height: 4.5;
  // }
}

/* stylelint-enable */

/* Form Scaffolding */

.mdev-form-group {
  width: 100%;
  position: relative;
  text-align: left;
}

.mdev-action-group {
  width: 100%;
  position: relative;
}

.rhd-form-group {
  width: 100%;
  position: relative;
  text-align: left;
  label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: all .3s;
    font-size: 17px;
    padding: 10px 10px 10px 0;
    line-height: 2;
    margin-bottom: 20px;
    color: $white;
    @media #{$tablet-up} {
    font-size: 20px;
    }
  }
  span{
    display: block;
  }
  .is-active > label {
    font-size: 15px;
    transform: translateY(-60%);
  }
}

.rhd-form-group.name,
.rhd-form-group.company-name,
.rhd-form-group.phone,
.rhd-form-group.email {
  @media #{$laptop-up} {
    width: 22%;
    padding: 0;
    input {
      &[ type = 'text' ],
      &[ type = 'email' ],
      &[ type = 'password' ],
      &[ type = 'search' ],
      &[ type = 'url' ] ,
      &[ type = 'tel' ] {
        width: 100%;
      }
    }
  }
}

.rhd-form-group.message {
  @media #{$laptop-up} {
    padding: 0;
  }
}


