
form {
  width: 100%;
  position: relative;
}



::placeholder {
  color: #fff;
  opacity: 1; /* Firefox */
}


/* stylelint-disable */
/* Disabled because it is valid and I need this level of control*/
.mdev-error {
  border: 1px solid red!important;
  color: red!important;
}
input {
  &[type="text"],
  &[type="email"],
  &[type="password"],
  &[type="search"],
  &[type="url"],
  &[type="tel"],
   {
    width: 100%;
    //border-radius: $standard-radius;
    padding: 10px 10px 10px 0;
    margin-top: 20px;
    border: none;
    border-bottom: 2px solid $white;
    background-color: transparent;
    outline: 0;
    transition: border, .3s;
    color: $white;
    font-size: 25px;
    line-height: 2;
    &:hover, &:focus, &:active {
    background-color: transparent;
    color: $white;
    }
  }

  &[type="button"],
  &[type="submit"] {
    @extend .rhd-base-btn;
  }
}

textarea{
  width: 100%;
  padding: 10px 0;
  margin-top: 20px;
  border: 0;
  border-bottom: 2px solid $white;
  background-color: transparent;
  outline: 0;
  transition: border, .3s;
  color: $white;
  font-size: 25px;
  max-height: 100px;
  font-family: $main-font;
  font-weight: normal;
}

/* stylelint-enable */

/* Form Scaffolding */

.mdev-form-group {
  width: 100%;
  position: relative;
  text-align: left;
}

.mdev-action-group {
  width: 100%;
  position: relative;
}


.rhd-form-group {
  width: 100%;
  position: relative;
  text-align: left;
}

.rhd-form-group.name,
.rhd-form-group.company-name,
.rhd-form-group.phone,
.rhd-form-group.email {
  @media #{$laptop-up} {
    width: 22%;
    padding: 0;
    input {
      &[ type = 'text' ],
      &[ type = 'email' ],
      &[ type = 'password' ],
      &[ type = 'search' ],
      &[ type = 'url' ] ,
      &[ type = 'tel' ] {
        width: 100%;
      }
    }
  }
}

.rhd-form-group.message {
  @media #{$laptop-up} {
    padding: 0;
  }
}


