/*-------------------------------------
 * VARIABLES - PROJECT WIDE
/-------------------------------------*/

// Main colors
$color-brand-primary: #13b2a9;
$color-brand-accent: #333;
$bkg-light-grey: #fafafa;
$black: #000;
$white: #fff;
$blue: #8ccecf;
$baby-blue: #abdadb;
$gold: #d7b66b;
$light-grey: #f3f3f3;
$dark-grey: #333231;
$alt-grey: #b7b7b7;



// Main Font
$main-font: 'Gotham', 'Helvetica', sans-serif;
$heading-weight: 700;
$subheading-weight: 500;
$body-weight: 300;

// Sizing Variables

// Spacing Variables

// Button Variables

// Radius Variables
$standard-radius: 4px;
